*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container > h1 {
  padding: 2em 0 2em 0;
  font-size: 1.25em;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  width: 100%;
}

.preview {
  width: 98%;
  padding: 10em 2em 20em 2em;
  margin: 1%;
}

.preview > h1{
  font-weight: 500;
  font-size: 2em;
}

.baku {
    background: url("/images/baku.jpg") no-repeat;
    background-size: cover;
  }

.london {
    background: url("/images/london.png") no-repeat;
    background-size: cover;
}

.madrid {
    background: url("/images/madrid.jpg") no-repeat;
    background-size: cover;
}

.rome {
    background: url("/images/rome.jpg") no-repeat;
    background-size: cover;
}


@media screen and (min-width: 575px) {
  .container{
      margin: 0 5em;
      display: flex;
      flex: 50%;
      flex-wrap: wrap;
  }

.preview {
  max-width: 50%;
  flex: 48%;
  padding: 4em 2em 22em 2em;
  margin: 1% 1%;
}

@media screen and (min-width: 991px){
  .container {
    margin: 0 5em;
  }

  .preview {
    flex: 23%;
    max-width: 25%;
  }
}
